.archive {
    h1 {
        a {
            font-size:4rem;
        }
    }
    h2 {
        span {
            width:100%;
            display:block;
            font-size:2.5rem;
            margin-top:2rem;
            text-decoration: underline;
        }
    }
    .posts {
        margin: 6rem 0;

        display:grid;
        column-gap:$colgap;
        row-gap:$rowgap*3;
        grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));

        @media (min-width:$m) {
            grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
        }
        .postContent {
            h2 {
                margin:1rem 0;
                line-height: 4rem;
            }
            .btn {
                margin:0;
            }
        }
    }
}